.pagination {
  margin-bottom: -20px !important;
  a {
    li {
      color: #999;
      padding-top: 4px;
      &.active {
        color: white;
        padding: 4px 11px 0px 11px;
      }
    }
  }
}

.pagination_comments {
  margin-top: 69px;
}

#pagination{
  .bottom_div {
    left: -2px;
    position: absolute;
    bottom: 30px;
    margin-bottom: 10px;
    a li {
      color: #999;
      padding: 4px 2px 0 2px;
      &.active {
        color: white;
        padding: 4px 11px 0px 11px;
      }
    }
  }
}
